

<h1>Toutes les appréciations</h1>

<div class="row">
 <div class="panel panel-primary">
  <div class="panel-heading">
  <div class="row">
    <div class="col-md-6">
        Contenu
      </div>
      <div class="col-md-2 text-right">
       Remarque 
     </div>
     <div class="col-md-1 text-right">
       Catégorie
     </div>
       <div class="col-md-3">
     </div>
  </div>   
 </div>  
   <table class="table"> 
    <% @appreciations.each do |appreciation| %>
      <tr>
        <td><%= appreciation.content %></td>
        <td><%= appreciation.remark %></td>
        <td><%= appreciation.category.title %></td>
        <td><%= link_to 'Show', appreciation, class: "btn btn-xs btn-success"  %></td>
        <td><%= link_to 'Edit', edit_appreciation_path(appreciation), class: "btn btn-xs btn-success" %></td>
        <td><%= link_to 'Destroy', appreciation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </table> <!--  panel-body -->
</div> <!-- panel  -->
</div><!-- fin row 1 -->


<br>

<%= link_to '[Ajouter une Appreciation]', new_appreciation_path %>
<%= link_to '[Ajouter une catégorie]', new_category_path %>
